.main {
    -webkit-animation: fadein 4s;
    padding-top: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &__card-container {
        height: 85vh;
        overflow: auto;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__title-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
