@import "../../variables.scss";

.modal {
    &__body {
        padding: 25px;
    }
}


.MuiDialog-paperWidthSm {
    padding: 20px;
    border-radius: 20px !important;
    min-width: 50vw;
    min-height: 20vh;
}

