@import "../../variables.scss";

.select-input {
    width: 100%;
    border: 1px solid $gray-light !important;
    border-radius: 5px;
    box-shadow: $box-shadow !important;
    margin-top: 15px !important;
    font-size: 5px !important;
    padding: 5px !important;
}

.MuiInputBase-input {
    font-family: $secondary !important;
    font-weight: 300 !important;
    text-decoration: none !important;
    border: none !important;
    color: $gray-dark !important;
}

input {
    border: none !important;
}