@import "./variables.scss";

body {
  background-color: $background;
}

.d-flex{
  display: flex;
  flex-direction: column;
}

.flex-grow{
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.icon-btn {
  cursor: pointer;
  color: $primary;
}

.icon-btn:hover {
  cursor: pointer;
  color: $secondary;
}

@media only screen and (max-width: 460px) {
  .text--h1 {
    font-size: 24px !important;
  }

  .text--h6 {
    font-size: 16px !important;
  }
}
